# Week 1-2 Project
    - pandas
    - import files
    - head, tail
    - dataframes, separating dataframe columns into lists
    - using empty lists, nested loops, if statements, temp variables and append

In [1]:
# import dataset and show head
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep = '\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [2]:
# separate dataframe columns into lists
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [3]:
N = 2000
print('Country: ', country[N])
print('Continent: ', continent[N])
print('Year: ', year[N])
print('Population: ', population[N])
print('Life Expectancy: ', life_exp[N])
print('Per Capita GDP: ', pcgdp[N])
print('Gini Index: ', gini[N])

Country:  Syria
Continent:  asia
Year:  1810
Population:  1340000
Life Expectancy:  31.1
Per Capita GDP:  1080
Gini Index:  46.5

# Part 1: Displaying Past 20 Years of US Data
Display the last 20 years of the data for all lists extracted from the dataframe.

In [4]:
print('Year\tCountry\t\tPopulation\tLExp\tpcGDP\tGini')
print('------------------------------------------------------------')
for index in range(0, len(year)):
    if year[index] >= 1999 and country[index] == 'United States':
       # print(str(year[index]) + '\t' + country[index] + '\t' + str(population[index]) + '\t' + str(life_exp[index]) + '\t' + str(pcgdp[index]) + '\t' + str(gini[index]))
        print(f'{year[index]}\t{country[index]}\t{population[index]:,}\t{life_exp[index]}\t{pcgdp[index]:,}\t{gini[index]}')

Year	Country		Population	LExp	pcGDP	Gini
------------------------------------------------------------
1999	United States	279,000,000	76.8	44,700	40.5
2000	United States	282,000,000	76.9	46,000	40.5
2001	United States	285,000,000	77.0	46,000	40.5
2002	United States	288,000,000	77.1	46,400	40.5
2003	United States	290,000,000	77.3	47,300	40.5
2004	United States	293,000,000	77.5	48,600	40.6
2005	United States	295,000,000	77.7	49,800	40.7
2006	United States	298,000,000	77.9	50,600	40.8
2007	United States	301,000,000	78.1	51,000	40.8
2008	United States	303,000,000	78.3	50,400	40.8
2009	United States	306,000,000	78.6	48,600	40.7
2010	United States	309,000,000	78.7	49,400	40.7
2011	United States	311,000,000	78.8	49,800	40.7
2012	United States	313,000,000	78.9	50,500	40.8
2013	United States	316,000,000	78.9	51,000	41.0
2014	United States	318,000,000	78.9	51,800	41.2
2015	United States	320,000,000	78.8	52,800	41.3
2016	United States	322,000,000	78.8	53,300	41.4
2017	United States	324,000,000	79.0	54,200	41.5
2018	United States	327,000,000	79.1	54,900	41.5

# Part 2: Selecting the 2018 Data
The data for all lists from filtered by year = 2018 will be entered into new lists using a loop and conditional if statement.

In [5]:
country_2018 = []
population_2018 = []
continent_2018 = []
life_exp_2018 = []
pcgdp_2018 = []
gini_2018 = []

for index in range (0, len(year)):
    if year[index] == 2018:
        country_2018.append(country[index])
        population_2018.append(population[index])
        continent_2018.append(continent[index])
        life_exp_2018.append(life_exp[index])
        pcgdp_2018.append(pcgdp[index])
        gini_2018.append(gini[index])

# length of all lists confirmed to = 184

In [6]:
print(f'The global population in 2018 was {sum(population_2018):,}.')

The global population in 2018 was 7,595,200,200.

# Part 3: Identifying Countries with Largest and Smallest Populations
The countries with the largest and smallest populations are displayed using the sorting function and index values of a copied lists.

In [7]:
# sort and verify highest value
population_2018_sorted = sorted(population_2018, reverse = True)
# verify correct sorting: print(population_2018_sorted[0])

# index largest 10 values
largest = population_2018_sorted[9]

print('Countries with Largest Populations in 2018')
print('--------------------------------------------------------')

for i in range (0, len(country_2018)):
    if population_2018[i] >= largest:
        print(f'The population of {country_2018[i]} in 2018 was {population_2018[i]:,}.')

Countries with Largest Populations in 2018
--------------------------------------------------------
The population of Bangladesh in 2018 was 166,000,000.
The population of Brazil in 2018 was 211,000,000.
The population of China in 2018 was 1,420,000,000.
The population of India in 2018 was 1,350,000,000.
The population of Indonesia in 2018 was 267,000,000.
The population of Mexico in 2018 was 131,000,000.
The population of Nigeria in 2018 was 196,000,000.
The population of Pakistan in 2018 was 201,000,000.
The population of Russia in 2018 was 144,000,000.
The population of United States in 2018 was 327,000,000.

In [8]:
# Alternate formatting
print('       Countries with Largest Populations in 2018')
print('----------------------------------------------------------')

for i in range (0, len(country_2018)):
    if population_2018[i] >= largest:
        print(f'The population of {country_2018[i]:<13} in 2018 was {population_2018[i]:>13,}.')

       Countries with Largest Populations in 2018
----------------------------------------------------------
The population of Bangladesh    in 2018 was   166,000,000.
The population of Brazil        in 2018 was   211,000,000.
The population of China         in 2018 was 1,420,000,000.
The population of India         in 2018 was 1,350,000,000.
The population of Indonesia     in 2018 was   267,000,000.
The population of Mexico        in 2018 was   131,000,000.
The population of Nigeria       in 2018 was   196,000,000.
The population of Pakistan      in 2018 was   201,000,000.
The population of Russia        in 2018 was   144,000,000.
The population of United States in 2018 was   327,000,000.

In [9]:
# verify smallest value
# print(population_2018_sorted[-1])

# index smallest 10 values
smallest = population_2018_sorted[-10]

print('           Countries with Smallest Populations in 2018')
print('---------------------------------------------------------------------')

for i in range (0, len(country_2018)):
    if population_2018[i] <= smallest:
        print(f'The population of {country_2018[i]:<30} in 2018 was {population_2018[i]:>7,}.')

           Countries with Smallest Populations in 2018
---------------------------------------------------------------------
The population of Antigua and Barbuda            in 2018 was 103,000.
The population of Grenada                        in 2018 was 108,000.
The population of Kiribati                       in 2018 was 118,000.
The population of Micronesia, Fed. Sts.          in 2018 was 106,000.
The population of Samoa                          in 2018 was 198,000.
The population of Sao Tome and Principe          in 2018 was 209,000.
The population of Seychelles                     in 2018 was  95,200.
The population of St. Lucia                      in 2018 was 180,000.
The population of St. Vincent and the Grenadines in 2018 was 110,000.
The population of Tonga                          in 2018 was 109,000.

# Part 4: Identifying Countries with Highest and Lowest Life Expectancies
The countries with the largest and smallest life expectancies are displayed using the sorting function and index values of a copied lists.

In [10]:
# sort and verify highest value
life_exp_2018_sorted = sorted(life_exp_2018, reverse = True)
# print(f'Highest: {life_exp_2018_sorted[0]}')

# index largest values
highest = life_exp_2018_sorted[9]

print('  Countries with Highest Life Expectancy in 2018')
print('----------------------------------------------------')

for i in range (0, len(country_2018)):
    if life_exp_2018[i] >= highest:
        print(f'The life expectancy of {country_2018[i]:<12}in 2018 was {life_exp_2018[i]}.')

  Countries with Highest Life Expectancy in 2018
----------------------------------------------------
The life expectancy of Australia   in 2018 was 82.9.
The life expectancy of France      in 2018 was 82.6.
The life expectancy of Iceland     in 2018 was 82.6.
The life expectancy of Israel      in 2018 was 82.4.
The life expectancy of Italy       in 2018 was 82.6.
The life expectancy of Japan       in 2018 was 84.2.
The life expectancy of Luxembourg  in 2018 was 82.4.
The life expectancy of Norway      in 2018 was 82.4.
The life expectancy of Singapore   in 2018 was 84.0.
The life expectancy of Spain       in 2018 was 83.2.
The life expectancy of Sweden      in 2018 was 82.4.
The life expectancy of Switzerland in 2018 was 83.5.

In [11]:
# verify lowest value
# print(f'Lowest: {life_exp_2018_sorted[-1]}')

# index lowest 10 values
lowest = life_exp_2018_sorted[-10]

print('        Countries with Lowest Life Expectancy in 2018')
print('-----------------------------------------------------------------')

for i in range (0, len(country_2018)):
    if life_exp_2018[i] <= lowest:
        print(f'The life expectancy of {country_2018[i]:<24} in 2018 was {life_exp_2018[i]}.')

        Countries with Lowest Life Expectancy in 2018
-----------------------------------------------------------------
The life expectancy of Afghanistan              in 2018 was 58.7.
The life expectancy of Central African Republic in 2018 was 51.6.
The life expectancy of Chad                     in 2018 was 60.5.
The life expectancy of Guinea-Bissau            in 2018 was 59.7.
The life expectancy of Lesotho                  in 2018 was 51.1.
The life expectancy of Sierra Leone             in 2018 was 60.0.
The life expectancy of Somalia                  in 2018 was 58.0.
The life expectancy of Swaziland                in 2018 was 58.6.
The life expectancy of Zambia                   in 2018 was 59.5.
The life expectancy of Zimbabwe                 in 2018 was 60.2.

# Part 5: Calculating GDP by Country
The countries' GDPs will be extracted into a new list to find the sum as well as the largest and smallest GDPs by country using the sorting function and index values.

In [12]:
# create list and populate it with a loop
gdp_2018 = []
for i in range (0, len(country_2018)):
    gdp_2018.append(pcgdp_2018[i] * population_2018[i])
    
print(f'The total global GDP in 2018 was ${sum(gdp_2018):,}.')

The total global GDP in 2018 was $118,225,647,770,000.

In [13]:
# skipping all the step by step commands and entering them straight to the print function
# However, my step-by-step code is below

#min_gdp = min(gdp_2018)
#max_gdp = max(gdp_2018)
#print(min_gdp)
#print(max_gdp)

#min_ind = index(min_gdp)
#max_ind = index(max_gdp)
#print(min_ind)
#print(max_ind)

#min_ind = gdp_2018.index(min(gdp_2018))
#max_ind = gdp_2018.index(max(gdp_2018))

# output using the stepwise above commands combined
print(f'The country with the highest GDP in 2018 was {country_2018[gdp_2018.index(max(gdp_2018))]} with a GDP of ${gdp_2018[gdp_2018.index(max(gdp_2018))]:,}.')
print(f'The country with the lowest GDP in 2018 was {country_2018[gdp_2018.index(min(gdp_2018))]} with a GDP of ${gdp_2018[gdp_2018.index(min(gdp_2018))]:,}.')

The country with the highest GDP in 2018 was China with a GDP of $22,720,000,000,000.
The country with the lowest GDP in 2018 was Kiribati with a GDP of $223,020,000.

# Part 6: Grouping by Continent
The total population, per capita GDP, and life expectancy by continent in 2018 will be calculated and displayed using empty lists, nested loops, if statements, temporary variables and the append function.

In [14]:
# Create an empty list of continent names and empty lists for the output.
continent_names = ['africa', 'americas', 'asia', 'europe']
pcgdp_2018_by_continent = []
pop_2018_by_continent = []
life_exp_2018_by_continent = [] 

# loop to populate the required variables
for c in continent_names:
    temp_life_exp = 0
    temp_pop = 0
    temp_gdp = 0
    for j in range(0, len(population_2018)):
        if continent_2018[j] == c:
            temp_life_exp += life_exp_2018[j]
            temp_pop += population_2018[j]
            temp_gdp += gdp_2018[j]
   
    round(temp_gdp, 0)
    round(temp_life_exp, 1)
    pop_2018_by_continent.append(temp_pop)
    pcgdp_2018_by_continent.append(temp_gdp/temp_pop)
    life_exp_2018_by_continent.append(temp_life_exp/temp_pop)
    

print(f'{"Continent":<9}{"Population":>14}{"pcGDP":>11}{"Life Exp":>12}')
print(46 * '-')
for k in range (0, len(continent_names)):
    print(f'{continent_names[k].capitalize():<9}{pop_2018_by_continent[k]:>14,}{pcgdp_2018_by_continent[k]:>11,.0f}{life_exp_2018_by_continent[k]:>12.1f}')

Continent    Population      pcGDP    Life Exp
----------------------------------------------
Africa    1,287,150,200      4,700         0.0
Americas  1,010,978,000     28,708         0.0
Asia      4,455,113,000     12,705         0.0
Europe      841,959,000     31,534         0.0